body{
    background: url(bg.avif);
    background-size: cover;
    min-height: 100vh;
    min-height: 100vh;
    align-items: center;
}
head{
    margin-top: fixed;
}
#header{
    background-color: rgb(99, 50, 50);
    height: 3cm;
    text-align: center;
}
#ind{
    color: burlywood;
    background-color: transparent;
    font: bold;
    font-style: bold;
    height: 3cm;
    width: 6cm;
    font-size: xx-large;
    cursor: pointer;
}
#exp{
    color: burlywood;
    background-color: transparent;
    font: bold;
    font-style: bold;
    height: 3cm;
    width: 6cm;
    font-size: xx-large;
    cursor: pointer;
}
#SER{
    color: burlywood;
    background-color: transparent;
    font: bold;
    font-style: bold;
    height: 3cm;
    width: 6cm;
    font-size: xx-large;
    cursor: pointer;
    
}
#rEV{
    color: burlywood;
    background-color: transparent;
    font: bold;
    font-style: bold;
    height: 3cm;
    width: 6cm;
    font-size: xx-large;
    cursor: pointer;
}
#contact{
    color: burlywood;
    background-color: transparent;
    font: bold;
    font-style: bold;
    height: 3cm;
    width: 6cm;
    font-size: xx-large;
    cursor: pointer;
}

#name{
    color: brown;
    font-size: 1cm;
    font-style: italic;
}
#personal{
    color: rgb(32, 32, 32);
    font-size: 1cm;
    font-style: italic;
}
#profil{
    height: 500px;
    width: 450px;
    border-radius: 75px;
    float: right;
    margin-top: 0%;
}
.container{
    display: flex;
}